@model NatalyBoutique.Models.Artículos

@{
    ViewData["Title"] = "Delete";
}

<h3>Eliminar Artículo</h3>


<div>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Descripcion)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Descripcion)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Precio)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Precio)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CantidadExistencia)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CantidadExistencia)
		</dd>
	</dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdArticulo" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>
