@model IEnumerable<NatalyBoutique.Models.Artículos>

@{
    ViewData["Title"] = "Index";

}

<h2>Listados de Artículos</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo Artículo</a>
</p>
<table class="table table-bordered table-responsive-sm bg-light">
    <thead class="bg-dark rounded-top">
		<tr class="text-white rounded-top">
			<th>
				@Html.DisplayNameFor(model => model.Descripcion)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Precio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CantidadExistencia)
			</th>
			<th>
				Acciones
			</th>
		</tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Descripcion)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Precio)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CantidadExistencia)
			</td>
			<td>
				<a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdArticulo">Editar</a> 
				<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdArticulo">Detalle</a>
				<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdArticulo">Eliminar</a>
			</td>
		</tr>
}
    </tbody>
</table>
