@model IEnumerable<NatalyBoutique.Models.Pedidos>

@{
    ViewData["Title"] = "Index";
}

<h2>Listados de Pedidos</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo Pedido</a>
</p>
<table class="table table-bordered table-responsive-sm bg-light">
    <thead class="bg-dark rounded-top">
        <tr class="text-white rounded-top">
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPedido)
            </th>
			<th>
				IdCliente
			</th>
			<th>
				Acciones
			</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Nombre)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdPedidos">Editar</a> 
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.IdPedidos">Detalle</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdPedidos">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
