@model NatalyBoutique.Models.DetallePedidos

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Eliminar Detalle Pedido</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamaño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeccionBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeccionBodega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEstante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEstante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadOrdenada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadOrdenada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadSurtida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSurtida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdArticuloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArticuloNavigation.IdArticulo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPedidoNavigation.IdPedidos)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDetallePedido" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>
