@model NatalyBoutique.Models.DetallePedidos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DetallePedidos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamaño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeccionBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeccionBodega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEstante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEstante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadOrdenada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadOrdenada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadSurtida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSurtida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdArticuloNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdArticuloNavigation.IdArticulo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPedidoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPedidoNavigation.IdPedidos)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPedido" />
        <input type="hidden" asp-for="IdArticulo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
