@model IEnumerable<NatalyBoutique.Models.DetallePedidos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamaño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeccionBodega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroEstante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadOrdenada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadSurtida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdArticuloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPedidoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamaño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeccionBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEstante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadOrdenada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadSurtida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArticuloNavigation.IdArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedidos)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
