@model IEnumerable<NatalyBoutique.Models.DetallePedidos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Listados de Detalles Pedidos</h3>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo Detalle</a>
</p>
<table class="table table-bordered table-responsive-sm bg-light">
    <thead class="bg-dark rounded-top">
        <tr class="text-white rounded-top">
            <th>
                @Html.DisplayNameFor(model => model.Tamaño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
			<th>
				Seccion Bodega
			</th>
			<th>
				Numero Estante
			</th>
			<th>
				Cantidad Ordenada
			</th>
			<th>
				Cantidad Surtida
			</th>
			<th>
				IdArticulo
			</th>
			<th>
				IdPedido
			</th>
            <th>
				Acciones
			</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tamaño)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeccionBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroEstante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadOrdenada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadSurtida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdArticuloNavigation.IdArticulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedidoNavigation.IdPedidos)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdDetallePedido">Editar</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdDetallePedido">Detalle</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdDetallePedido">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
