@model IEnumerable<NatalyBoutique.Models.Clientes>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listados de Clientes</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo Cliente</a>
</p>
<table class="table table-bordered table-primary">
    <thead class="bg-danger">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
				Aciones
			</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.IdCliente">Editar</a> 
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.IdCliente">Detalle</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdCliente">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
